In [316]:
import json
import pandas as pd
import numpy as np

# Part 1: Reading and investigating data

Open up the `player_data.json` and investigate the data structure.

In [2]:
#your code here
data = json.load(open('player_data.json'))

# Part 2:  Creating the Dataframe

Create a data frame where each row corresponds to a game for each player. You must have atleast the following columns in your final dataframe:

'DISPLAY_FIRST_LAST', 'PERSON_ID', 'TEAM_ID', 'AST', 'BLK', 'STL','Game_ID',  'MIN', 'PTS', 'REB', 'TEAM_ABBREVIATION'

*You can include additional columns in your dataframe, so you don't have to do additional work to remove other columns.*

In [4]:
df = pd.DataFrame()

for person in data:
    if len(person['GAMELOG']) == 0:
        continue
    df1 = pd.DataFrame(person, columns=['DISPLAY_FIRST_LAST', 'PERSON_ID', 'TEAM_ID'], index=[0])
    df2 = pd.DataFrame(person['GAMELOG'])
    merged = pd.merge(df1, df2, left_on='PERSON_ID', right_on='Player_ID', how='outer')
    df = pd.concat([df, merged])
    
df.reset_index(drop=True, inplace=True)

In [474]:
df.head()

,DISPLAY_FIRST_LAST,PERSON_ID,TEAM_ID_x,AST,BLK,DREB,FG3A,FG3M,FG3_PCT,FGA,...,PTS,Player_ID,REB,SEASON_ID,STL,TEAM_ABBREVIATION,TEAM_ID_y,TOV,VIDEO_AVAILABLE,WL
0,Alex Abrines,203518,0,0,0,0,1,0,0.000,2,...,0,203518,0,22018,0,OKC,1610612760,0,1,W
1,Alex Abrines,203518,0,0,0,1,2,1,0.500,2,...,3,203518,1,22018,0,OKC,1610612760,0,1,W
2,Alex Abrines,203518,0,0,2,1,5,1,0.200,6,...,7,203518,1,22018,0,OKC,1610612760,0,1,L
3,Alex Abrines,203518,0,0,0,1,4,2,0.500,4,...,6,203518,1,22018,0,OKC,1610612760,0,1,W
4,Alex Abrines,203518,0,1,0,1,7,3,0.429,7,...,9,203518,1,22018,0,OKC,1610612760,0,1,W

# Part 3: Pandas Questions

Answer the following questions

## 1 
- Find the player who scored the most points in an individual game last season.

-  Now do the same for rebounds, blocks, and assists.

In [7]:
# Your code here
df[df['PTS']==df['PTS'].max()]

,DISPLAY_FIRST_LAST,PERSON_ID,TEAM_ID_x,AST,BLK,DREB,FG3A,FG3M,FG3_PCT,FGA,...,PTS,Player_ID,REB,SEASON_ID,STL,TEAM_ABBREVIATION,TEAM_ID_y,TOV,VIDEO_AVAILABLE,WL
10323,James Harden,201935,1610612745,1,0,5,13,9,0.692,34,...,61,201935,7,22018,3,HOU,1610612745,3,1,W
10348,James Harden,201935,1610612745,4,0,9,20,5,0.250,38,...,61,201935,15,22018,5,HOU,1610612745,5,1,W

In [8]:
df[df['REB']==df['REB'].max()]

,DISPLAY_FIRST_LAST,PERSON_ID,TEAM_ID_x,AST,BLK,DREB,FG3A,FG3M,FG3_PCT,FGA,...,PTS,Player_ID,REB,SEASON_ID,STL,TEAM_ABBREVIATION,TEAM_ID_y,TOV,VIDEO_AVAILABLE,WL
23773,Karl-Anthony Towns,1626157,1610612750,3,4,18,8,3,0.375,23,...,27,1626157,27,22018,2,MIN,1610612750,3,1,W

In [9]:
df[df['BLK']==df['BLK'].max()]

,DISPLAY_FIRST_LAST,PERSON_ID,TEAM_ID_x,AST,BLK,DREB,FG3A,FG3M,FG3_PCT,FGA,...,PTS,Player_ID,REB,SEASON_ID,STL,TEAM_ABBREVIATION,TEAM_ID_y,TOV,VIDEO_AVAILABLE,WL
21109,Mitchell Robinson,1629011,1610612752,0,9,4,0,0,0.0,3,...,4,1629011,4,22018,0,NYK,1610612752,0,1,L
25135,Hassan Whiteside,202355,1610612757,2,9,14,1,0,0.0,18,...,29,202355,20,22018,0,MIA,1610612748,1,1,W

In [10]:
df[df['AST']==df['AST'].max()]

,DISPLAY_FIRST_LAST,PERSON_ID,TEAM_ID_x,AST,BLK,DREB,FG3A,FG3M,FG3_PCT,FGA,...,PTS,Player_ID,REB,SEASON_ID,STL,TEAM_ABBREVIATION,TEAM_ID_y,TOV,VIDEO_AVAILABLE,WL
24969,Russell Westbrook,201566,1610612745,24,0,11,4,0,0.0,22,...,24,201566,13,22018,2,OKC,1610612760,3,1,L

## 2: 

- Find the player who scored the most points for the entire season.

- Now do the same for rebounds, blocks, and assists.

In [76]:
#your code here
df.groupby('DISPLAY_FIRST_LAST')[['PTS']].sum().sort_values('PTS',ascending=False).head(1)

                     PTS
DISPLAY_FIRST_LAST
James Harden        2818

In [77]:
df.groupby('DISPLAY_FIRST_LAST')[['REB']].sum().sort_values('REB',ascending=False).head(1)

                     REB
DISPLAY_FIRST_LAST
Andre Drummond      1232

In [78]:
df.groupby('DISPLAY_FIRST_LAST')[['BLK']].sum().sort_values('BLK',ascending=False).head(1)

                    BLK
DISPLAY_FIRST_LAST
Myles Turner        199

In [79]:
df.groupby('DISPLAY_FIRST_LAST')[['AST']].sum().sort_values('AST',ascending=False).head(1)

                    AST
DISPLAY_FIRST_LAST
Russell Westbrook   784

## 3:
How many players played in at least 82 games last season?

In [430]:
#your code here
most_games = (df.groupby('DISPLAY_FIRST_LAST')[['Game_ID']].count())
len(most_games.loc[most_games['Game_ID']>=82])

21

## 4: 
- Find which team scored the most points for the entire season.

- Now do the same for rebounds, blocks, and assists.

In [146]:
# your code here
df.groupby('TEAM_ABBREVIATION')[['PTS']].sum().sort_values('PTS',ascending=False).head(2)

                    PTS
TEAM_ABBREVIATION
MIL                9686
GSW                9650

In [145]:
df.groupby('TEAM_ABBREVIATION')[['REB']].sum().sort_values('REB',ascending=False).head(2)

                    REB
TEAM_ABBREVIATION
MIL                4078
OKC                3942

In [147]:
df.groupby('TEAM_ABBREVIATION')[['BLK']].sum().sort_values('BLK',ascending=False).head(2)

                   BLK
TEAM_ABBREVIATION
GSW                525
MIL                486

In [148]:
df.groupby('TEAM_ABBREVIATION')[['AST']].sum().sort_values('AST',ascending=False).head(2)

                    AST
TEAM_ABBREVIATION
GSW                2413
DEN                2245

## 5:
Which team had the most players play for them last season?

In [439]:
#your code here
df.groupby(['TEAM_ABBREVIATION','PERSON_ID'])[['DISPLAY_FIRST_LAST']].count().reset_index().groupby('TEAM_ABBREVIATION')[['PERSON_ID']].count().sort_values('PERSON_ID',ascending=False).head(2)

                   PERSON_ID
TEAM_ABBREVIATION
MEM                       28
CLE                       27

## 6:
- How many players play for more than one team last year?

- What is the most number of teams a player played for last season?

In [489]:
unique_teams = df.groupby(['DISPLAY_FIRST_LAST','TEAM_ID_y']).size().reset_index().groupby('DISPLAY_FIRST_LAST').count().rename(columns={0:'count'}).drop('TEAM_ID_y',axis=1)
len(unique_teams.loc[unique_teams['count']>=2].sort_values('count',ascending=False))

86

## 7:

Find the player who scored the least amount of points while playing in at least 40 games last season.

In [501]:
#your code here
temp = df.groupby('DISPLAY_FIRST_LAST').agg({'Game_ID':'count', 'PTS': 'sum'}).sort_values('PTS')
temp.loc[temp['Game_ID']>=40].rename(columns = {'Game_ID':'Games Played'}).head(1)

                     Games Played  PTS
DISPLAY_FIRST_LAST
Sindarius Thornwell            64   62

# Part 4: Pandas and Probability

## 8: 

What is the probability that a random player had a game where they scored more than 40 points?

In [482]:
#your code here
len(df.loc[df['PTS']>40])/len(df)

0.004214397915788667

## 9:

What is the probability that a randomly selected player from last season would average more than 20 points per game?

In [530]:
# your code here
over_20 = df.groupby('DISPLAY_FIRST_LAST')[['PTS']].mean()>20
len(over_20[over_20['PTS']])/len(df['DISPLAY_FIRST_LAST'].unique())

0.062264150943396226

# Advanced Questions

## 10: 
Find the player who scored the least amount of points while playing in at least 40 games and averageing at least 15 minutes per game last season.

In [270]:
#your code here
temp = df.groupby('DISPLAY_FIRST_LAST').agg({'Game_ID':'count', 'PTS': 'sum','MIN':'mean'}).sort_values('PTS')
temp.loc[(temp['Game_ID']>=40) & (temp['MIN']>=15)].rename(columns = {'Game_ID':'Games Played','MIN':'Average Gametime'}).head(2)

                    Games Played  PTS  Average Gametime
DISPLAY_FIRST_LAST
Tyson Chandler                55  173         15.927273
Solomon Hill                  44  191         19.886364

In [495]:
df.groupby('DISPLAY_FIRST_LAST').agg({'Game_ID':'count', 'PTS': 'sum','MIN':'mean'}).query('Game_ID>=40 & MIN>=15')['PTS'].idxmin()

'Tyson Chandler'

## 11: 
Which player scored the largest share of points for their team throughout the season.

In [444]:
#your code here
temp = df.groupby(['DISPLAY_FIRST_LAST','TEAM_ABBREVIATION']).agg({'PTS':'sum'}).reset_index()
temp2 = df.groupby('TEAM_ABBREVIATION').agg({'PTS':'sum'}).reset_index()
merged = pd.merge(temp, temp2, left_on='TEAM_ABBREVIATION', right_on='TEAM_ABBREVIATION', how='outer')
merged['Point_Share'] = merged.apply(lambda row: row['PTS_x']/row['PTS_y'], axis = 1)
merged[merged['Point_Share'] == merged['Point_Share'].max()]

    DISPLAY_FIRST_LAST TEAM_ABBREVIATION  PTS_x  PTS_y  Point_Share
427       James Harden               HOU   2818   9341     0.301681

## 12:

What is the probability that a randomly selected player had at least one game in which they scored 40 points last season.

In [449]:
# your code here
len(df.loc[df['PTS']==40]['DISPLAY_FIRST_LAST'].unique())/len(df['DISPLAY_FIRST_LAST'].unique())

0.035849056603773584

## 13: 

A double-double is when a player records for any of the two follow categories: points, rebounds, assists, steals, or blocks. 
What is the probability that a randomly selected player had a double-double in a game last season?

In [478]:
#your code here
points = df[(df['PTS']>=10)].groupby(['DISPLAY_FIRST_LAST','Game_ID']).size().reset_index().drop(0,axis=1)
rebounds = df[(df['REB']>=10)].groupby(['DISPLAY_FIRST_LAST','Game_ID']).size().reset_index().drop(0,axis=1)
assists = df[(df['AST']>=10)].groupby(['DISPLAY_FIRST_LAST','Game_ID']).size().reset_index().drop(0,axis=1)
steals = df[(df['STL']>=10)].groupby(['DISPLAY_FIRST_LAST','Game_ID']).size().reset_index().drop(0,axis=1)
blocks = df[(df['BLK']>=10)].groupby(['DISPLAY_FIRST_LAST','Game_ID']).size().reset_index().drop(0,axis=1)

everyone = np.concatenate((points.values,rebounds.values,assists.values,steals.values,blocks.values))
# unique, counts = np.unique(everyone, return_counts=True,axis=0)
# dd = [(k, v) for k, v in zip(unique, counts) if v>=2]
# td = [(k, v) for k, v in zip(unique, counts) if v>=3]

In [468]:
players = [tuple(row) for row in everyone]
od = []
dd = []
td = []

for player in players:
    if player not in od:
        od.append(player)
    elif player not in dd:
        dd.append(player)
    elif player not in td:
        td.append(player)

In [469]:
print('double-double:',len({name[0] for name in dd})/len(df['DISPLAY_FIRST_LAST'].unique()))
print('triple-double:',len({name[0] for name in td})/len(df['DISPLAY_FIRST_LAST'].unique()))

double-double: 0.49056603773584906
triple-double: 0.06981132075471698

## 14:

What is the probability that a randomnly selected game had a player record a triple-double in that game?

In [484]:
#your code here

Empty DataFrame
Columns: [DISPLAY_FIRST_LAST, Game_ID]
Index: []

# Part 5: Super Duper Challenge

## 15:

How many players last season averaged more points per game than their career average?

In [415]:
career_stats = pd.DataFrame()
for player in data:
    row = {'DISPLAY_FIRST_LAST':player['DISPLAY_FIRST_LAST'],'C_AVG_PTS':player['CAREER_STATS']['PTS']}
    new = pd.DataFrame(row,index=[0])
    career_stats = pd.concat([career_stats, new])
career_stats

        DISPLAY_FIRST_LAST  C_AVG_PTS
0             Alex Abrines        5.3
0               Quincy Acy        4.9
0             Jaylen Adams        3.2
0             Steven Adams       13.9
0              Bam Adebayo        8.9
0                Deng Adel        1.7
0   DeVaughn Akoon-Purcell        1.0
0        LaMarcus Aldridge       21.3
0             Rawle Alkins        3.7
0            Grayson Allen        5.6
0            Jarrett Allen       10.9
0             Kadeem Allen        9.9
0          Al-Farouq Aminu        9.4
0          Justin Anderson        5.3
0            Kyle Anderson        8.0
0            Ryan Anderson       12.4
0             Ike Anigbogu        0.9
0    Giannis Antetokounmpo       27.7
0     Kostas Antetokounmpo        1.0
0          Carmelo Anthony       24.0
0               OG Anunoby        7.0
0         Ryan Arcidiacono        6.7
0             Trevor Ariza       12.5
0            D.J. Augustin       11.7
0            Deandre Ayton       16.3
0             Dwayne Bacon        7.3
0        Marvin Bagley III       14.9
0                Ron Baker        3.1
0          Wade Baldwin IV        3.1
0               Lonzo Ball        9.9
..                     ...        ...
0          Julian Washburn        2.2
0            Yuta Watanabe        2.6
0             Thomas Welsh        1.6
0        Russell Westbrook       22.9
0            Derrick White        9.9
0              Okaro White        2.7
0         Isaiah Whitehead        7.2
0         Hassan Whiteside       12.3
0           Andrew Wiggins       18.1
0            Alan Williams        6.2
0            C.J. Williams        4.7
0       Johnathan Williams        6.5
0         Kenrich Williams        6.1
0             Lou Williams       20.0
0          Marvin Williams       10.1
0            Troy Williams        5.3
0      Robert Williams III        2.5
0              D.J. Wilson        5.8
0          Justise Winslow       12.6
0           Christian Wood        8.2
0             Delon Wright        8.7
0       Guerschon Yabusele        2.3
0               Nick Young       11.4
0           Thaddeus Young       12.6
0               Trae Young       19.1
0              Cody Zeller       10.1
0             Tyler Zeller        7.0
0                  Zhou Qi        1.3
0               Ante Zizic        7.8
0              Ivica Zubac        8.9

[538 rows x 2 columns]

In [417]:
tester = pd.merge(df, career_stats, left_on='DISPLAY_FIRST_LAST', right_on='DISPLAY_FIRST_LAST', how='outer')

In [428]:
temp = tester.groupby('DISPLAY_FIRST_LAST').agg({'PTS':'mean','C_AVG_PTS':'mean'})
len(temp.loc[temp['PTS'] > temp['C_AVG_PTS']])

218